
@{
    ViewBag.Title = "GetMenuItems";
}


<div class="box">
    <div class="box-header with-border">
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="label label-primary">Label</span>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <h2>Menus Items</h2>
        <input type="button" name="name" value="Add Menu Item" onclick="AddMenuItem()" />
        <table id="tblMenuItems">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>FoodType</th>
                    <th>FoodCategory</th>
                    <th>DrinkCategory</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>
@*<div id="myModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to save changes you made to document before closing?</p>
                    <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@


<div id="modalContainer" class="modal">

</div>

<div id="modalContainerAdd" class="modal">

</div>

<script>

    function showModal(){
            $("#myModal").modal('show');
        }

    $(document).ready(function(){

         $('#tblMenuItems').DataTable({
            "processing": true,
            "serverSide": true,
            "ajaxSource": "@Url.Action("GetMenuItemsData", "Menu")" + "?id=" + @ViewBag.id,
            "columns": [

                { "data": "Id" },
                { "data": "Name" },
                { "data": "FoodType" },
                { "data": "FoodCategory" },
                { "data": "DrinkCategory" },
                { "data": "Price" },
                { "data": "Description" },
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                    "render": function (o) { return '<a href="#" class="btnMenuItemEdit"  data-key="' + o.Id + '"  >' + 'Edit' + '</a>'; }
                },
            ]
        });

        $("table").on("click", ".btnMenuItemEdit", function () {
            var id = $(this).attr("data-key");
            var restaurantId = @ViewBag.id;
            var url = '@Url.Action("EditMenuItem","Menu")' + "?restaurantId=" + restaurantId + "&menuId=" + id;

            $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json",
                    dataType: "text",
                    success: function (response)
                    {
                        $("#modalContainer").html(response);
                        $("#modalContainer").modal('show');
                    }
            });

        });


    });

    function AddMenuItem()
    {
        var restaurantId = @ViewBag.id;
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("AddMenuItem","Menu")' + '?restaurantid=' +restaurantId,
                        success: function (response)
                        {
                            $("#modalContainerAdd").html(response);
                            $("#modalContainerAdd").modal('show');
                        }
                });
    }
</script>
